<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1078330299403-1g701rk0glqldr4gpligfdvv977elbmg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1078330299403-1g701rk0glqldr4gpligfdvv977elbmg</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1078330299403-uronmvi0u0v62ikcc12j1r5ihv9ppf51.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCWAld68CUIMARWgGhnSC5PB2gpJMBMF-s</string>
	<key>GCM_SENDER_ID</key>
	<string>1078330299403</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mysharepal40.com.mySharePal</string>
	<key>PROJECT_ID</key>
	<string>mysharepal-40</string>
	<key>STORAGE_BUCKET</key>
	<string>mysharepal-40.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1078330299403:ios:b7d276038c5b3b5084230e</string>
	<key>DATABASE_URL</key>
	<string>https://mysharepal-40.firebaseio.com</string>
</dict>
</plist>